.app {
  text-align: center;
}

section {
  /*min-height: 100vh;*/
  scroll-margin-top: 3rem;
  /*padding: 2rem;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Scroll to top on route change */
main {
  scroll-behavior: smooth;
}

/* Responsive design */
@media (max-width: 768px) {
  
}
